<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Canisbos Computing</string>
	<key>Builder Version</key>
	<string>12603.1.30.0.20</string>
	<key>CFBundleDisplayName</key>
	<string>CustomReader</string>
	<key>CFBundleIdentifier</key>
	<string>com.canisbos.customreaderii</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.11</string>
	<key>CFBundleVersion</key>
	<string>31</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>settings.html</string>
				<key>Height</key>
				<real>500</real>
				<key>Identifier</key>
				<string>settingsP</string>
				<key>Width</key>
				<real>460</real>
			</dict>
			<dict>
				<key>Filename</key>
				<string>confirm.html</string>
				<key>Height</key>
				<real>120</real>
				<key>Identifier</key>
				<string>confirmP</string>
				<key>Width</key>
				<real>360</real>
			</dict>
			<dict>
				<key>Filename</key>
				<string>intro.html</string>
				<key>Height</key>
				<real>320</real>
				<key>Identifier</key>
				<string>introP</string>
				<key>Width</key>
				<real>500</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggleReader</string>
				<key>Identifier</key>
				<string>myToolbarItem</string>
				<key>Image</key>
				<string>glasses.png</string>
				<key>Include By Default</key>
				<false/>
				<key>Label</key>
				<string>CustomReader</string>
				<key>Palette Label</key>
				<string>CustomReader</string>
				<key>Popover</key>
				<string>settingsP</string>
				<key>Tool Tip</key>
				<string>Click to activate Safari Reader</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Customize Safari Reader with your own CSS.</string>
	<key>DeveloperIdentifier</key>
	<string>ZANVZTSER6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/canisbos/CustomReader/master/dist/Update.plist</string>
	<key>Website</key>
	<string>http://canisbos.com/customreader</string>
</dict>
</plist>
