div.page {
  background: #F3F2EE !important;
  font-family: "Iowan Old Style", Georgia !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif !important;
}
figcaption {
  font-family: Helvetica, sans-serif;
  font-size: 75%;
}
figcaption p {
  margin: 0;
}
a {
  color: red !important;
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}
